@model UserManagement.Web.Models.Users.UserListItemViewModel
<div class="container-fluid">
    <h3>Add User</h3>
    <div class="table-responsive">
        @using (Html.BeginForm("ConfirmedToAdd", "Users", FormMethod.Post))
        {
            <table class="table table-striped">
                <tr>
                    <td>ForeName: </td>
                    <td>
                        @Html.TextBoxFor(m => m.Forename, new{ @class = "popinputbox",required = "required" })
                        @Html.ValidationMessageFor(model => model.Forename, "", new { @class = "errormsg" })
                    </td>
                </tr>
                <tr>
                    <td>SurName: </td>
                    <td>
                        @Html.TextBoxFor(m => m.Surname,new { @class = "popinputbox",required = "required" })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "errormsg" })
                    </td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td>
                        @Html.TextBoxFor(m => m.Email, new { @class = "popinputbox",placeholder = "Email ID", type = "email",required = "required" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errormsg" })
                    </td>
                </tr>
                <tr>
                    <td>Date Of Birth: </td>
                    <td>
                        @Html.TextBoxFor(m => m.DateOfBirth, new {type="date",placeholder="yyyy-mm-dd", @class="form-control",required = "required" })
                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "errormsg" })
                    </td>
                </tr>
                <tr>
                    <td>Active Status: </td>
                    <td>
                        @Html.DropDownListFor(modelItem => modelItem.IsActive,new [] { new SelectListItem { Text = "Yes", Value="True" } , new SelectListItem { Text = "No", Value="False"}},new { @class = "dropdown btn btn-default dropdown-toggle" })
                    </td>
                </tr>
            </table>
            <input type="submit" value="Add" class="btn btn-primary" onclick="return confirm('Are you sure you want to add this user?')" />
            <a class="btn btn-danger" asp-controller="Users" asp-action="List">Cancel</a>
        }
    </div>
</div>

